@page
@model DeliverySoftware.Pages.Fleet.CreateEditVanModel
@{
}

<form method="post" novalidate>
    <div>
        <label asp-for="@Model.Van.Registration">Registration</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="@Model.Van.Registration">
        </div>
        <span class="text-danger" asp-validation-for="@Model.Van.Registration"></span>
    </div>
    <div>
        <label asp-for="@Model.Van.Capacity">Capacity (m&sup2;)</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="@Model.Van.Capacity">
        </div>
        <span class="text-danger" asp-validation-for="@Model.Van.Capacity"></span>
    </div>
    <div>
        <label asp-for="@Model.Van.DriverUID">Assigned Driver</label>
        <div class="col-sm-12">
            <select class="form-select" asp-for="@Model.Van.DriverUID" asp-items="@Model.DriverSelection">Driver</select>
        </div>
    </div>

    <input type="hidden" asp-for="@Model.Van.Id" />
    <input type="hidden" asp-for="@Model.Van.UID" />

    @if (Model.UID != Guid.Empty)
    {
        <input type="submit" value="Update Van">
    }
    else
    {
        <input type="submit" value="Create Van">
    }
</form>