@page
@using DeliverySoftware.Business.Delivery;
@model DeliverySoftware.Pages.Delivery.PackageManagementModel
@{
}

<div class="container-sm m-auto bg-card rounded-3 border p-5 shadow-lg">
    <h1 class="text-center display-4 mb-3">Packages</h1>
    <div class="row justify-content-center">
        @if (Model.Packages.Count < 1)
        {
            <h2 class="text-center display-6">No undelivered packages</h2>
        }
        else
        {
            <table class="mb-3">
                <thead>
                    <tr>
                        <th>
                            Tracking Code
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Customer Ordered
                        </th>
                        <th>
                            Size (m&sup2;)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Package Package in Model.Packages)
                    {
                        <tr>
                            <td>@Package.TrackingCode</td>
                            <td>@Package.Description</td>
                            <td>@Model.GetCustomerName(Package.CustomerUID)</td>
                            <td>@Package.Size</td>
                            <td>
                                <a class="btn btn-primary" role="button" asp-page="CreateEditPackage" asp-route-UID="@Package.UID">Edit</a>
                                @if (Model.IsPackageOutForDelivery(Package.UID))
                                {
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="This package is out for delivery, and can't be deleted!">
                                        <button class="btn btn-danger" role="button" disabled>Delete</button>
                                    </span>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#modal"+Package.UID)">Delete</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <hr />
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-primary btn-lg align-middle" role="button" asp-page="CreateEditPackage">Create Package</a>
        </div>
    </div>
</div>




@*Modal for Deleting a Package*@
@foreach (Package Package in Model.Packages)
{
    <div class="modal fade" id="@("modal"+Package.UID)" tabindex="-1" role="dialog" aria-labelledby="@("title"+Package.UID)" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="@("title"+Package.UID)">Delete</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Delete @Package.TrackingCode - @Package.Description?</div>
                <div class="modal-footer">
                    <a class="btn btn-lg" role="button" asp-page-handler="deletePackage" asp-page="PackageManagement" asp-route-UID="@Package.UID">Delete</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}