@page
@using DeliverySoftware.Business.Delivery;
@model DeliverySoftware.Pages.Delivery.PackageManagementModel
@{
}

<div>
    <div class="row justify-content-center">
        @if (Model.Packages.Count < 1)
        {
            <h2 class="text-center display-6">No undelivered packages</h2>
        }
        else
        {
            <table class="mb-3">
                <thead>
                    <tr>
                        <th>
                            Tracking Code
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Assigned to delivery?
                        </th>
                        <th>
                            Customer Ordered
                        </th>
                        <th>
                            Size
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Package Package in Model.Packages)
                    {
                        <tr>
                            <td>@Package.TrackingCode</td>
                            <td>@Package.Description</td>
                            <td>@Package.IsAssignedToDelivery</td>
                            <td>@Model.GetCustomerName(Package.CustomerUID)</td>
                            <td>@Package.Size</td>
                            <td><a class="btn btn-secondary" role="button" asp-page="CreateEditPackage" asp-route-UID="@Package.UID"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<a class="btn btn-primary btn-lg" role="button" asp-page="CreateEditPackage">Create Package</a>