@page
@using DeliverySoftware.Business.Delivery;
@model DeliverySoftware.Pages.Customer.OrderTrackingModel
@{
}


<div>
    <p>Tracking Code: @Model.TrackingCode</p>
    <p>Customer Name: @Model.Customer.Forename @Model.Customer.Surname</p>
</div>

<div>
    <p>Package Status: @(Model.DeliveryRun.Status == DeliveryStatus.Completed ? "Delivered" : "On the way")</p>
    <p>Your Package is: @(Model.Package.DropNumber - Model.DeliveryRun.CurrentDrop) drops away</p>
</div>

<div>
    <p>Delivery Address: @Model.Customer.Address</p>
    <p>Delivery PostCode: @Model.Customer.PostCode</p>
</div>

<input type="hidden" id="customerPostCode" name="customerPostCode" asp-for="@Model.Customer.PostCode" />
<input type="hidden" id="customerHouseNumber" name="customerHouseNumber" asp-for="@Model.Customer.HouseNumber" />
<input type="hidden" id="driverPostCode" name="driverPostCode" asp-for="@Model.DriverHouseNumber" />
<input type="hidden" id="driverHouseNumber" name="driverHouseNumber" asp-for="@Model.DriverPostCode" />
<div id="trackingMap" style="height: 400px; width: 600px;"></div>

@section Scripts {
    <script type="text/javascript" src="~/Pages/Customer/OrderTracking.cshtml.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzLyXmbIGVxhJfVIurJYymXI-gsJsP5Zw&callback=loadMap"></script>
}      